$red: #EE3736;

$grid-max-width:          1000px !default;
$grid-max-columns:        12 !default;
$grid-gutter-width:       3.8% !default;
$use-vendor-prefixes:     false !default;
$create-classes:          false !default;