<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Rubyconf Lightning talks</title>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <!--[if (gte IE 6)&(lte IE 8)]>
      <link rel="stylesheet" href="http://a.germanforblack.com/stylesheets/wide.css">
      <script src="/javascripts/nwmatcher.min.js"></script>
      <script src="/javascripts/selectivizr.min.js"></script>
    <![endif]-->

    <script src="/javascripts/modernizr.min.js"></script>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38601098-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header role="banner">
      <div class="grid">
        <div class="logo"><i class="icon-rubyconf"></i></div>
        <div class="event-information">
          <p>RubyConf Melbourne</p>
          <time>20 — 22nd February, 2013</time>
        </div>

        <a class="main-site-link" href="http://rubyconf.org.au">Visit RubyConf site <i class="icon">⤖</i></a>
      </div>
    </header>
    <section class="introduction">
      <div class="grid">
        <h1>
            Word. <br>
            <br>
            Watch your email Friday.
        </h1>
      </div>
    </section>

    <img src="/douches.jpg">
    </section>

    <footer role="contentinfo">
      <div class="grid">
        <span>© Copyright Ruby Australia / Another joint by <a href="http://twitter.com/benschwarz">Ben Schwarz</a> and <a href="http://twitter.com/lstoll">Lincoln Stoll</a></span>
      </div>
    </footer>
  </body>
</html>
