/*
Syntax error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 126 of /Users/benschwarz/Documents/Projects/rubyconf2013-lightning/sass/main.scss

Backtrace:
/Users/benschwarz/Documents/Projects/rubyconf2013-lightning/sass/main.scss:126
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1072:in `expected'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:28:in `parse'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:342:in `_to_tree'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:97:in `catch'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:146:in `block in run_first_task_found'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:144:in `each'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:144:in `run_first_task_found'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:79:in `block in run_on_changes'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:174:in `each'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:174:in `block (2 levels) in scoped_guards'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:173:in `catch'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:173:in `block in scoped_guards'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:172:in `each'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:172:in `scoped_guards'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard/runner.rb:72:in `run_on_changes'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard.rb:139:in `block (2 levels) in setup_listener'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard.rb:363:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard.rb:360:in `within_preserved_state'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/guard-1.6.2/lib/guard.rb:138:in `block in setup_listener'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/listener.rb:212:in `call'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/listener.rb:212:in `on_change'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `call'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `report_changes'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/benschwarz/.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.2/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 126 of /Users/benschwarz/Documents/Projects/rubyconf2013-lightning/sass/main.scss"; }
